body{
    background-color: #c6c6c6;
}


.navbar{

    width: 80vw !important;
}

/* Imagens seção nossa infraestrutura */

.carousel-img {
   position: relative;
   height: 80vh;
   background-size: cover;
   background-position: center;
   aspect-ratio: 1/1;/*Deixa a imagem quadrada, mas ao mesmo distorce*/
   object-fit: cover;/*Corrige a distorção*/
   border-radius: 50%;/*Deixa redonda*/
  }
.carousel-inner{
    border-radius: 50%;
}
.carousel-img:nth-child(1){
    background-image: url(img/imagem-4.png);
}
.carousel-img:nth-child(2){
    background-image: url(img/imagem-5.png);
}
.carousel-img:nth-child(3){
    background-image: url(img/imagem-6.png);
}
.carousel-img:nth-child(4){
    background-image: url(img/imagem-7.png);
}
.carousel-img:nth-child(5){
    background-image: url(img/imagem-8.png);
}

.carousel-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

/*/ Imagens seção nossa infraestrutura */

/* Sobre */
.sobre-paragrafo{
    font-size: 1.17rem;
    font-weight: 400;
    width: 85%;
  

}
/*/ Sobre */



/* Nossa Equipe */
.img-equipe{
    width: 15%;
   aspect-ratio: 1/1;/*Deixa a imagem quadrada, mas ao mesmo distorce*/
   object-fit: cover;/*Corrige a distorção*/
   border-radius: 50%;/*Deixa redonda*/
}
/*/ Nossa Equipe */


.some-menu{
    display: none;
 }