body{
    background-color: #c6c6c6;
}


.navbar{

    width: 80vw !important;
}

/* Imagens seção nossa infraestrutura */

.carousel-img {
   position: relative;
   height: 80vh;
   background-size: cover;
   background-position: center;
   aspect-ratio: 1/1;/*Deixa a imagem quadrada, mas ao mesmo distorce*/
   object-fit: cover;/*Corrige a distorção*/
   border-radius: 50%;/*Deixa redonda*/
  }
.carousel-inner{
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .carousel-inner{
        border-radius: 45%;
    }
}

.carousel-img:nth-child(1){
    background-image: url(img/imagem-4.png);

}
.carousel-img:nth-child(2){
    background-image: url(img/imagem-5.png);
    width: 100% !important;
}
.carousel-img:nth-child(3){
    background-image: url(img/imagem-6.png);
    width: 100% !important;
}
.carousel-img:nth-child(4){
    background-image: url(img/imagem-7.png);
    width: 100% !important;
}
.carousel-img:nth-child(5){
    background-image: url(img/imagem-8.png);
    width: 100% !important;
}

.carousel-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

/*/ Imagens seção nossa infraestrutura */

/* Sobre */
.sobre-paragrafo{
    font-size: 1.17rem;
    font-weight: 400;
    width: 85%;
  

}

@media  screen and (min-width:1200px)  and (max-width:1400px) {
    section .carousel-img{
        width: 95%;
        height: 95%;
    }
}

@media  screen and (max-width: 1200px) {
    #carousel-img-sobre{
        width: 80% !important;
        height: 100%;
    }
    
}
/*/ Sobre */

/* Nossa Fábrica */
@media screen and (min-width: 1200px) and (max-width: 1400px){
    section .sobre-paragrafo{
        font-size: 1.05rem;
        width: 95%;
    }
    .carousel-img{
        width: 100% !important;
    }
    #img-xl{
        width: 55% !important;
        height: 60%;
    }
    #container-text{
        width: 45% !important;
    }
    #slider{
        width: 107% !important;
    }
}

@media screen and (max-width: 1200px){
    #img-xl{
        width: 80% ;
        height: 100%;
    }
   .carousel-img{
        width: 95% !important;
        height: 100%;
    }
    
}

@media screen and (max-width: 800px){
    .sobre-paragrafo{
        font-size: .9em;
        width: 95%;
    }
    #img-xl{
        width: 100%;
        height: 100%;
    }
    #slider{
        width: 100% !important;
    }
    .carousel-img{
        width: 100% !important;
    }
}



/* Nossa Equipe */
.img-equipe{
   width: 50%;
   aspect-ratio: 1/1;/*Deixa a imagem quadrada, mas ao mesmo distorce*/
   object-fit: cover;/*Corrige a distorção*/
   border-radius: 50%;/*Deixa redonda*/
}

@media screen and (max-width: 800px) {
    .img-equipe{
        width: 40%;
    }
}
/*/ Nossa Equipe */


.some-menu{
    display: none;
 }