body{
    background-color: #c6c6c6;
}


.navbar{

    width: 80vw !important;
}

.title-principal{
    font-size: 2.6rem !important;
    font-weight: 500;

}

/* Sobre */
.sobre-paragrafo{
    font-size: 1.17rem;
    font-weight: 400;
    width: 85%;
  
}

.carousel-img-sobre {
    position: relative;
    object-fit: cover;/*Corrige a distorção*/
    border-radius: 10%;/*Deixa redonda*/
    height: auto;/*Define que a altura será ajustada de acordo com a proporção da tela*/
    width: auto;/*Define que a largura será ajustada de acordo com a proporção da tela*/ 
    max-width: 90%;/*Define a largura máxima que a imagem pode atingir*/
    max-height: 90%;/*Define a altura máxima da imagem*/
    /*Com isso, a imagem não se altera, fica em um determinado tamanho de forma estática, não se altera mesmo em proporções diferentes.*/
 }
 

@media  screen and (max-width: 1200px) {
    .carousel-img-sobre{
        width: 80% !important;
        height: 100%;
    }
    
}
/*/ Sobre */

/* Imagens seção nossa fabrica */

.container-infra{
    background-color: #13256b;
}

.carousel-inner{
    border-radius: 10%;
    width: 90%;
}

.carousel-img{
    position: relative;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    /* width: auto; */
    max-height: 80vh;
    max-width: 90%;
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    section .sobre-paragrafo{
        font-size: 1.05rem;
        width: 95%;
    }
    .carousel-img{
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px){
   .carousel-img{
        max-width: 90% !important;
        height: 70vh;
        
    }
 
    
}

@media screen and (max-width: 800px){
    .sobre-paragrafo{
        font-size: 1.1em;
        width: 95%;
    }
    .title-principal{
        font-size: 2em !important;
    }
    .carousel-img{
        max-width: 90% !important;
        height: 70vh;
    }
    .video-fachada{
        width: 80% !important;
    }
}


@media screen and (max-width: 500px){
    .carousel-img{
        max-width: 90% !important;
        height: 50vh;
    }
    .title-principal{
        font-size: 1.5em  !important;
    }
    
}
.carousel-img:nth-child(1){
    background-image: url("../img/img-fabrica/fabrica-1.jpg");
   

}
.carousel-img:nth-child(2){
    background-image: url("../img/img-fabrica/fabrica-2.jpg");
    width: 100% !important;
}
.carousel-img:nth-child(3){
    background-image: url("../img/img-fabrica/fabrica-3.jpg");
    width: 100% !important;
}
.carousel-img:nth-child(4){
    background-image: url("../img/img-fabrica/fabrica-4.jpg");
    width: 100% !important;
}
.carousel-img:nth-child(5){
    background-image: url("../img/img-fabrica/fabrica-5.jpg");
    width: 100% !important;
}

.carousel-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

/*/ Imagens seção nossa infraestrutura */

/* Nossa Fábrica */
.video-fachada{
    border-radius: 20px;
    width: 50%;
}

/* /Nossa Fábrica */





/* Nossa Equipe */
.img-equipe{
   width: 40%;
   aspect-ratio: 1/1;/*Deixa a imagem quadrada, mas ao mesmo distorce*/
   object-fit: cover;/*Corrige a distorção*/
   border-radius: 50%;/*Deixa redonda*/
}

@media screen and (max-width: 800px) {
    .img-equipe{
        width: 40%;
    }
}
/*/ Nossa Equipe */


.some-menu{
    display: none;
 }